.listyle {
    grid-area: 1/2/1/4;
    display: flex;
    align-items: center;
}

.margin {
    grid-area: 1/1/1/13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--mono25);
    margin-left: 1em;
    margin-right: 1em;
}

.hold {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: white;
}

.flexHold {
    display: flex;
}

.flexHold>div {
    margin-left: 4em;
}

.logoHold {
    width: 95px;
  height: 98px;
  padding: 24px 24px 24px 0px;
}
