.hold {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    border-right: 1px solid var(--mono25);
}

.nextflex {
    display: flex;
    justify-content: space-between;
}

.center {
    text-align: center;
}

.flexhold {
    display: flex;
    align-items: center;
    margin: auto;
    width: 130px;
    margin-top: 1em;
}