.SetWritingHold>* {
  margin-top: 1em;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border: 0px;
  border-radius: .5em;
  box-shadow: none;
}

pre[class*="language-"],
  :not(pre) > code[class*="language-"] {
      background: var(--frame);
  }

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.SetWritingHold>*>img {
  width: 100%;
}

.SetWritingHold>table {
  border: 1px solid var(--frame);
  border-collapse: collapse;
  border-radius: 1em;
}

.SetWritingHold>table>* {
  border: 1px solid var(--frame);
}

.SetWritingHold>table>*>* {
  border: 1px solid var(--frame);
}

.SetWritingHold>table>*>*>* {
  border: 1px solid var(--frame);
  padding: 0.5em;
}

.SetWritingHold>ul, ol {
  color: var(--steel);
  line-height: 140%;
  font-weight: 200;
}

.SetWritingHold>*>li {
  margin-top: 1em;
}

ul{
  margin-left: 1em;
}

/* Second Level */
ul ul{
  line-height: 140%;
  margin-left: 2em;
}

/* Third Level */
ul ul ul{
  margin-left: 2em;
}

ol{
  margin-left: 1em;
}

/* Second Level */
ol ol{
  margin-left: 2em;
}

/* Third Level */
ol ol ol{
  margin-left: 2em;
}

.texthold {
  width: 650px;
  padding-left: 1em;
}

.counting {
  color: var(--primary75)
}
.counting::before {
  content: counter(subsection) ".\A"; /* Use the counter as content */
}

